@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Concert+One&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Patrick+Hand&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Concert+One&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Patrick+Hand&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Concert+One&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Dosis:wght@200;300;400;500;600;700;800&family=Patrick+Hand&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color:#f9f4ef;
    color: #716040;
    max-width:800px;
    margin: 0 auto;
}
main {
max-width:800;
margin:auto

}

h1,h2 {

    font-family:'Zilla Slab', monospace;
    color: #020826;
}

a {
    color: #cfc4c4;
    text-decoration: none;
    

}

a:hover {
    text-decoration: underline;
}

#header {
   text-align: center; 
   background-color: rgb(255, 255, 255);
   text-align: center;
}


.round {
    border-radius:50%;
}

#image {
    text-align:center;
}

.excessive-text{
    font-weight: bold;
    font-size: 24%;
}

#navbar {
    background-color: #8c7851;
    color: #fffffe;
     
}

#navbar > a {
    color:#fffffe;
    padding: 8px;
    display:inline-block;
    
}

#navbar > a:hover {
    background-color:#eaddcf;
    position:sticky;
}

input[type="text"] {
        width: 100%;
        padding: 5px 10px;
        margin: 8px 0;
        box-sizing: border-box;
        border-color: #020826;
        background-color:#eaddcf;
        border-radius: 8px;
        
      
      
}

#Response {
    padding: 100px 50px;

}

input[type=text]:hover {
    background-color: whitesmoke;
    border: 3px solid #555;
  }

  input[type="Submit"] {

    font-family:'Zilla Slab', monospace;
    color: #020826;
    border-radius: 8px;
    background-color:#eaddcf;
    border-color: #020826;
    
  }

  input[type="Reset"] {
    font-family:'Zilla Slab', monospace;
    color: #020826;
    border-radius: 8px;
    background-color:#eaddcf;
    border-color: #020826;
  }

  @media screen and (max-width: 480px){
    #navbar {
        text-align:center;
    }
    #image {
        width:100vw;
        height:auto;
    }

    
  }

  