@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Concert+One&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Patrick+Hand&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Concert+One&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Patrick+Hand&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Concert+One&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Dosis:wght@200;300;400;500;600;700;800&family=Patrick+Hand&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color:#f9f4ef;
    color: #716040;
    margin: 0;
    
}
main {
max-width:900px;
margin:auto


}

#othercolor {
    color:black
}

h1,h2,h3 {

    font-family:'Zilla Slab', monospace;
    color: #020826;
}

a {
    color: #f25042;
    text-decoration: none;
    

}

#order {
    text-align:center;
}

#spacing {
    padding: 8px;
}

#line {

    border-style: solid;
    border-color: #000000;
    border-width:thin;
    border-style:dashed
}

a:hover {
    text-decoration: underline;
}

#header {
   text-align: center; 
   background-color:#eaddcf;
   text-align: center;
   border-radius: 10px;
   border-color: #020826;
   border-style: solid;

}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #eaddcf;
    padding: 10px;
    column-gap: 30px;
    max-width: 100%;
  }

  .grid-item {
   
    padding: 20px;
    font-size: 30px;
    text-align: center;
   
  }

.round {
    border-radius: 10%;
}


#image {
    text-align: center;
    float: center;
    border-radius: 10%;
    border-width: 3px;
    border-style: solid;
    border-color: #020826;
    border-width:solid;
    padding: 3px;
 
    
    

   

}

#image2 {
    text-align: center;
    float: center;
    border-radius: 10%;
    border-width: 3px;
    padding: 3px;
    

   

}

.excessive-text{
    font-weight: bold;
    font-size: 150%;
    font-style: italic;
}

#navbar {
    background-color: #8c7851;
    color: #fffffe;
    position:sticky;
    top:0;
    list-style-type: none;
    overflow: hidden;
     
}

#navbar > a {
    color:#fffffe;
    padding: 8px 6px;
    display:inline-block; 
      
    
}

#navbar {
    text-align: center;
    

}
    
#navbar > a:hover {
    background-color:#eaddcf;
    position:sticky;
}

input[type="text"] {
        width: 100%;
        padding: 5px 10px;
        margin: 8px 0;
        box-sizing: border-box;
        border-color: #020826;
        background-color:#eaddcf;
        border-radius: 8px;
      
}

#navbar > a:active {
    color: #f25042
}

#Response :hover {
    background-color: whitesmoke;
    border: 3px solid #555;
  }


#Response {
    width: 100%;
    padding: 5px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border-color: #020826;
    background-color:#eaddcf;
    border-radius: 15px;
    border-width:2px;
}

input[type=text]:hover {
    background-color: whitesmoke;
    border: 3px solid #555;
  }

  input[type="Submit"]:hover {
    background-color: whitesmoke;
    border: 3px solid #555;
  }

  input[type="Reset"]:hover {
    background-color: whitesmoke;
    border: 3px solid #555;
  }


  input[type="Submit"] {

    font-family:'Zilla Slab', monospace;
    color: #020826;
    border-radius: 12px;
    background-color:#eaddcf;
    border-color: #020826;
    padding: 10px;
    
  }

  input[type="Reset"] {
    font-family:'Zilla Slab', monospace;
    color: #020826;
    border-radius: 12px;
    background-color:#eaddcf;
    border-color: #020826;
    padding: 10px;
  }

  @media screen and (max-width: 480px){
    #navbar {
        text-align:center;
        max-width: 480px;
    }
    #image {
        width:100vw;
        height:auto;
        max-width: 100%;
       
    }
    .grid-container {
    max-width: 100%;
    text-align: center;
      }
    
      .grid-item {
     max-width: 100%;
     text-align: center;
      }

    
  }
 @media screen and (min-width:481px) and (max-width:830px) {
    #navbar {
        text-align:center;
        max-width: 830px;
    }
    #image {
        width:50vw;
        height:auto;
        max-width: 100%;  

        
       
    }
    .grid-container {
    max-width: 100%;
    text-align: center;
      }
    
      .grid-item {
     max-width: 100%;
     text-align: center;
      }

 }

  