@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Concert+One&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Patrick+Hand&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Concert+One&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Patrick+Hand&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Concert+One&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Dosis:wght@200;300;400;500;600;700;800&family=Patrick+Hand&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color:#d8eefe;
    color: #5f6c7b;
    
}


h1,h2 {

    font-family:'Zilla Slab', monospace;
    color: #094067;
}

a {
    color: #ef4565;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}